@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Caveat:wght@400;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Neonderthaw&family=Tangerine:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {

    *, *::after, *::before {
        box-sizing: border-box;
        margin: 0;
        /* border: 1px solid red; */
    }

    /* 

        font-family: 'Carrois Gothic SC', sans-serif;

        font-family: 'Caveat', cursive;

        font-family: 'Josefin Sans', sans-serif;

        font-family: 'Neonderthaw', cursive;

        font-family: 'Tangerine', cursive;

    */

    .ezRead {
        font-family: 'Josefin Sans', Helvetica, sans-serif;
    }

    .cuteScript {
        font-family: 'Caveat', cursive;
    }

    .emergencyText {
        font-family: 'Carrois Gothic SC', sans-serif;
    }

    .elegantText {
        font-family: 'Tangerine', cursive;
    }


    .SPH_Text {
        font-size: clamp(.7rem, 1.8vw, 1.2rem);
    }

}

@layer components {

    /********* computer monitor responsiveness ***********/

    .fullMonitorWidth {
        width: clamp(1200px, 100%, 2500px);
    }


    /* header and footer */
    .headerTitleAndBtn {
        width: clamp(275px, 20%, 378.2px);
    }

    .footerAddressAndPhone {
        width: clamp(398.5px, 25%, 472.75px);
    }

    .footerFaxEmailAndHotline {
        width: clamp(444px, 33.3%, 630px);
    }

    .footerNavMenu {
        width: clamp(300px, 25%, 472.75px);
    }
    


    /* landing page */

    .introImageContainer {
        width: clamp(389.9px, 33.3%, 624.7px);
    }

    .introductionImage {
        width: clamp(380px, 75%, 467px );
    }

    .introTxtAndBgContainer {
        width: clamp(760.4px, 65%, 1221.9px );
    }


    .introTxtSegments {
        width: clamp(750px, 80%, 972.4px );
    }

    .therapyProgramImage {
        height: clamp(240px, 19vmax, 350px);
    }

    .therapyProgramHeadingContainer {
        height: clamp(120px, 9vmax, 160px);
    }

    .therapyProgramHeading {
        font-size: clamp(1.1rem, 1.3vw, 1.6rem);
    }

    .therapyProgramText {
        font-size: clamp(.93rem, 1.2vw, 1.25rem);
    }

    .struggleCard {
        width: clamp(253px, 89% , 400px);
    }

    .insuranceTwoThirdHeightImage {
        height: clamp(75px, 6vmax, 100px);
    }

    .insuranceHalfHeightImage {
        height: clamp(60px, 5vmax, 75px);
    }

    .insuranceTwoFifthsHeightImage {
        height: clamp(45px, 4vmax, 60px);
    }

    .insuranceThirdHeightImage {
        height: clamp(40px, 3vmax, 50px);
    }




    /* About Page */

    .aboutCardPersonOneImage {
        width: clamp(200px, 15%, 250px);
    }


    .aboutCardPersonTwoImage {
        width: clamp(310px, 32%, 400px);
    }

    .aboutCardHeader {
        font-size: clamp(3.5rem, 4vw, 4.5rem);
    }


    .aboutCardPersonTextMain {
        font-size: clamp(1rem, 1.1vw, 1.3rem);
    }

    .aboutCardPersonOneTextAlt {
        font-size: clamp(1rem, 1.1vw, 1.2rem);
    }




    /* Contact Page */

    .contactInfoMainText {
        font-size: clamp(1.4rem, 1.6vw, 1.875rem);
    }

    .contactInfoAltText {
        font-size: clamp(1.2rem, 1.3vw, 1.5rem);
    }

    .contactPageHours {
        @apply pl-3 text-purple-500 font-normal
    }

    .contactFormHeader {
        font-size: clamp(3rem, 3.1vw, 3.75rem);
    }



    /* Contact Form Rotating Border */

    .contactContainer {
        @apply relative overflow-hidden z-20 rounded-[50px]
    }

    .contactContainer::before {
        content: "";
        background-image: conic-gradient(
            transparent 280deg,
            #cfabff 335deg,
            #ffa9ff 355deg
        );
        animation: rotate 2s infinite linear;
        @apply w-[200%] h-[300%] absolute left-[-50%] top-[-95%] z-10
    }

    @keyframes rotate {
        100%{
            transform: rotate(360deg);
        }
    }
}